# version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "${PORT:-3300}:${PORT:-3300}"
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - pizzeria-net

  mongo:
    image: mongo:6
    restart: unless-stopped
    env_file: .env
    volumes:
      - ./mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "mongodb://localhost:27017/admin", "--eval", "db.runCommand({ ping: 1 }).ok"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "27018:27017"
    networks:
      - pizzeria-net

networks:
  pizzeria-net:
    driver: bridge

